{% extends "projbase.html.twig" %}

{% block title %}Plump{% endblock %}

{% block content %}

<h1>Plump</h1>

<div class="container">
    <div style="justify-content: space-around;">
        <h3>Trumf: </h3>
        {% if 127153 <= trumf.card()[2:6] and trumf.card()[2:6] < 127184 %}
            <button style='font-size: 95px; color: red;'>{{ trumf.card()|raw }}</button>
        {% else %}
            <button style='font-size: 95px; color: black;'>{{ trumf.card()|raw }}</button>
        {% endif %}
    </div>
    <div>
        <h3>Hög: </h3>
        {% for card in pile %}
            {% if 127153 <= card.card()[2:6] and card.card()[2:6] < 127184 %}
                <button style='font-size: 95px; color: red;'>{{ card.card()|raw }}</button>
            {% else %}
                <button style='font-size: 95px; color: black;'>{{ card.card()|raw }}</button>
            {% endif %}
        {% endfor %}
        <form method="post">
            <fieldset>
                <input type="submit" {{check}} value="Se vem som vann">
            </fieldset>
        </form>
    </div>
    <div>
        {% if winner != null %}
        <h3>Vinnande kort: </h3>
        {% if 127153 <= winner.card()[2:6] and winner.card()[2:6] < 127184 %}
            <button style='font-size: 95px; color: red;'>{{ winner.card()|raw }}</button>
        {% else %}
            <button style='font-size: 95px; color: black;'>{{ winner.card()|raw }}</button>
        {% endif %}
        <form method="post">
            <fieldset>
                <input type="submit" name="roundDone" value="Starta nästa runda">
            </fieldset>
        </form>
    {% endif %}
    </div>

    {# <table>
        {% for player in players %}
            <thead>{{player.name}}</thead>
            <tbody>{{player.score}}</tbody>
        {% endfor %}
    </table> #}
</div>

    <div>
        <h3>Kort: </h3>
        <br>
        Satsning: {{playerBet}}
        <br>
        Nuvarande stick: {{playerScore}}
        <br>
        Datorns satsning: {{cpuBet}}
        <br>
        Datorns stick: {{cpuScore}}
        <br>
        <form method="post">
            <fieldset>
                {% for card in player.cards() %}
                    {% if 127153 <= card.card()[2:6] and card.card()[2:6] < 127184 %}
                        <input type="submit" {{disabled}} style='font-size: 95px; color: red;' name={{card.match() }} value={{ card.card()|raw }}>
                    {% else %}
                        <input type="submit" {{disabled}} style='font-size: 95px; color: black;' name={{card.match() }} value={{ card.card()|raw }}>
                    {% endif %}
                {% endfor %}
            </fieldset>
        </form>
        <hr>
    </div>

    <form method="post">
        <fieldset>
            <input type="number" name="betNum" min="0" max={{round}} value={{playerBet}}>
            <input type="submit" {{bet}} name="bet" value="Hur många stick?">
        </fieldset>
    </form>
    <form method="post">
        <fieldset>
            <input type="submit" name="reset" value="Reset game">
            <input type="submit" value="Starta nästa runda">
        </fieldset>
    </form>


{% endblock %}
