{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block content %}

<h1>Card</h1>

<a href="{{ path("deck") }}">Deck</a>
<a href="{{ path("shuffle") }}">Shuffle</a>
<a href="{{ path("draw") }}">Draw</a>
<a href="{{ path("deck2") }}">Deck2</a>
<a href="{{ path("jsonapi") }}">JSON API</a>
<a href="{{ path("game") }}">Game (21)</a>

{% endblock %}
