{% extends "base.html.twig" %}

{% block title %}21{% endblock %}

{% block content %}

<h1>Spela  21</h1>

{% if check matches '/^\\d+$/' %} {# check if int #}
    {% if check < 21 %}
        <h4>Fold or pull another card</h4>
    {% elseif check == 21 %}
        <h4>You won!</h4>
        {% set disabled = "disabled" %}
    {% elseif check > 21 %}
        <h4>You lost!</h4>
        {% set disabled = "disabled" %}
    {% endif %}
{% else %}
    <h4>{{check}}</h4>
{% endif %}

<br>

{{player.name()}}'s cards: 
{% for card in player.cards() %}
    {% if 127153 <= card.card()[2:6] and card.card()[2:6] < 127184 %}
        <button style='font-size: 95px; color: red;'>{{ card.card()|raw }}</button>
    {% else %}
        <button style='font-size: 95px; color: black;'>{{ card.card()|raw }}</button>
    {% endif %}
{% endfor %}

<br>

{{bank.name()}}'s cards: 
{% for card in bank.cards() %}
    {% if 127153 <= card.card()[2:6] and card.card()[2:6] < 127184 %}
        <button style='font-size: 95px; color: red;'>{{ card.card()|raw }}</button>
    {% else %}
        <button style='font-size: 95px; color: black;'>{{ card.card()|raw }}</button>
    {% endif %}
{% endfor %}

<form method="post">
    <fieldset>
        <p>
            <input type="submit" {{disabled}} name="draw" value="Draw">
            <input type="submit" {{disabled}} name="fold" value="Fold">
            <input type="submit" name="reset" value="Reset">
        </p>
    </fieldset>
</form>

{% endblock %}
