{% extends 'base.html.twig' %}

{% block title %}Welcome to the library!{% endblock %}

{% block content %}

<table>
    <tr>
        <th>Name</th>
        <th>ISBN</th>
        <th>Author</th>
        <th>Image</th>
        <th>Details</th>
    </tr>
    {% for book in books %}
        <tr>
            <td>
                {{ book.name }}
            </td>
            <td>
                {{ book.isbn }}
            </td>
            <td>
                {{ book.author }}
            </td>
            <td>
                <img src="../img/{{ book.imgurl }}" alt="{{ book.name }}'s cover image" width="150px">
            </td>
            <td>
                <a href="{{ path('read_one_process', {'isbn': book.isbn}) }}">Go to page</a>
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
